.row {
  margin-top: 1em;
}

.button {
  background-color: lightgrey;
  margin-left: 1em;
}

.button2 {
  background-color: lightgrey;
}

.no-margin {
  margin: 0px !important;
}

h4 {
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;

}

h5 {
  margin-bottom: 1em;
  background-color: cyan;
}

h6 {
  padding-top: 1em;
  padding-bottom: 0em;
}


#CurriculaFeed {
  margin-top: 3em;
  padding-left: 0em;
  padding-right: 3em;
}

#HistoryFeedTitle {
  margin-top: 3.15em;
}

#CourseFeedRollUp {
  margin-bottom: 1em;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

#HistoryFeedRollUp {
  
}

#HistoryFeed {
  padding-left: 0em;
  padding-right: 3em;
}

p {
  font-size: 14px;
}

#login {
  margin: 0;
  padding: 0;
}

#loginTitle {
margin-top: 4em;
}

.col-5 {
  margin-right: 2em;
}

div.row {
background-color: transparent;
}